<div id="header">
  <div id="logo">
    <h1><a href="/">Arzebiu aos Molhos!</a></h1>
    <div class="description">Sempre em Movimento!</div>
  </div>
  <div id="nav">
    <ul>
      <li class=""><a href="/"><span>Início</span></a></li>
      <li class=""><a href="/about/"><span>Sobre</span></a></li>
      <li class=""><a href="/subscrever/"><span>Subscrever / Seguir</span></a></li>
      <li class="has_dropdown"><a href="/armazem/"><span><span>Armazém</span></span></a>
      <div class="dropdown dd-level-1"><ul>
          <li class=""><a href="/armazem/">Arquivos</a></li>
          <li class=""><a href="/all/">Todos os Artigos</a></li>
          <li class=""><a href="/links/">Links</a></li>
          <li class=""><a href="/mapa/">Artigos com Geotag</a></li>
          <li class=""><a href="/tempos-em-provas/">Tempos em Provas</a></li>
          <li><a href="/em-destaque/o-meu-dive-log/">O meu Dive Log</a></li>
          <li><a href="/tag/primeira-vez/">Primeiras Vezes</a></li>
      </ul></div>
      </li>
      <li class="has_dropdown"><a href="/em-destaque/"><span><span>Em Destaque</span></span></a>
      <div class="dropdown dd-level-1">
        <ul>
          <li><a href="/tag/favoritos/">Os Meus Artigos Favoritos</a></li>
          <li><a href="/1001-objectivos/">1001 Objectivos</a></li>
          <li><a href="/em-destaque/gestao-de-financas-pessoais-familiares/">Gestão de Finanças Pessoais e Familiares</a></li>
          <li><a href="/tag/os-meus-trilhos-percorridos/">Trilhos Percorridos</a></li>
          <li><a href="/tag/sebastiao/">Pardal Sebastião</a></li>
        </ul>
      </div></li>
    </ul>
  </div>
  <div class="cl">&nbsp;</div>
</div>

