<div id="imageMenu">
  <ul>
    <li><a href="/categorias/geral/" title="Geral"><img src="/images/geral.jpg" alt="Geral" /></a></li>
    <li><a href="/about/" title="Sobre Mim"><img src="/images/sobre.jpg" alt="sobre Mim" /></a></li>
    <li><a href="/categorias/geral/tecnologia/" title="Tecnologia"><img src="/images/tecnologia.jpg" alt="Tecnologia" /></a></li>
    <li><a href="/categorias/geral/opiniao/" title="Opinião"><img src="/images/opiniao.jpg" alt="Opinião" /></a></li>
    <li><a href="/categorias/geral/financas/" title="Finanças"><img src="/images/financas.jpg" alt="Finanças" /></a></li>
    <li><a href="/categorias/geral/trabalho/" title="Trabalho"><img src="/images/trabalho.jpg" alt="Trabalho" /></a></li>
    <li><a href="/categorias/hobbies/viagens/" title="Viagens"><img src="/images/viagens.jpg" alt="Viagens" /></a></li>
    <li><a href="/tag/giro-de-bicicleta/" title="Giros de Bicicleta"><img src="/images/giro-de-bicicleta.jpg" alt="Giro de Bicicleta" /></a></li>
    <li><a href="/categorias/culinaria/" title="Culinária"><img src="/images/culinaria.jpg" alt="Culinária" /></a></li>
    <li><a href="/categorias/hobbies/aquariofilia/" title="Aquariofilia"><img src="/images/aquariofilia.jpg" alt="Aquariofilia" /></a></li>
    <li><a href="/categorias/hobbies/corridas-e-caminhadas/" title="Corridas e Caminhadas"><img src="/images/corridas-e-caminhadas.jpg" alt="Corridas e Caminhadas" /></a></li>
    <li><a href="/tag/os-meus-trilhos-percorridos/" title="Trilhos Percorridos"><img src="/images/trilhos.jpg" alt="Trilhos Percorridos" /></a></li>
    <li><a href="/categorias/hobbies/mergulho/" title="Mergulho"><img src="/images/mergulho.jpg" alt="Mergulho" /></a></li>
    <li><a href="/categorias/vida-a-dois/" title="Vida a Dois"><img src="/images/vida-a-dois.jpg" alt="Vida a Dois" /></a></li>
  </ul>
</div>

