<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head profile="http://gmpg.org/xfn/11">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>{{ page.title }} | Arzebiu!</title>
    <link rel="stylesheet" href="/css/arzebiu/style.css" type="text/css" media="screen" />
    <link rel="stylesheet" href="/css/arzebiu/default_style.css" type="text/css" media="all" />
    <link rel="alternate" type="application/rss+xml" title="Arzebiu aos Molhos! &raquo; Feed" href="http://feeds.feedburner.com/ArzebiuAosMolhos" />
    <script type="text/javascript">window.google_analytics_uacct = "UA-681136-39";</script>
    <script type='text/javascript' src='/script/l10n.js'></script>
    <script type='text/javascript' src='/script/jquery.js'></script>
    <link rel='index' title='Arzebiu aos Molhos!' href='http://www.arzebiu.com/' />
  </head>
  <body class="single single-post postid-2977 single-format-standard logged-in admin-bar">
    <div id="page">
      {% include arzebiu/header.html %}
      {% include arzebiu/image_menu.html %}
      <div id="main">
        <a href="http://feeds.feedburner.com/ArzebiuAosMolhos" id="rss-link">RSS</a>
        <div id="main-top">
          <div id="main-bot">
            <div class="cl">&nbsp;</div>
            <div id="content">
              {{ content }}
            </div>
            <div class="cl">&nbsp;</div>
          </div>
        </div>
      </div>
    </div>

    {% include arzebiu/footer.html  %}

    <script type="text/javascript">
      var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
      document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
      try {
        var pageTracker = _gat._getTracker("UA-681136-39");
        pageTracker._trackPageview();
      } catch(err) {}</script>
  </div>
</body>
</html>


