---
layout: main
---
<article>
  <header>
    <h1>{{ page.title }}</h1>
  </header>
  <span>{{ page.date | date: "%Y/%M/%D" }}</span>
  {{ content }}
  <section>
    Categoria(s): 
    {% for cat in page.categories %}
      <a href="{{ site.categoryList[cat].permalink  }}">{{ site.categoryList[cat].title }}</a>
    {% endfor %}
  </section>
  {% if page.tags.first %}
    <section>
      Etiqueta(s): 
      {% for tag in page.tags %}
      <a href="/tags/{{ tag }}">{{ tag }}</a>
      {% endfor %}
    </section>
  {% endif %}
</article>
